<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RunDetails" value="https://secure-nikeplus.nike.com/nikeplus/v1/services/app/get_run.jhtml?id="/>
    <add key="CreateSession" value="https://secure-nikeplus.nike.com/nikeplus/v1/services/widget/generate_pin.jhtml" />
    <add key="Runs" value="https://secure-nikeplus.nike.com/nikeplus/v1/services/app/run_list.jhtml"/>
    <add key="UserDetails" value="http://secure-nikeplus.nike.com/nikeplus/v1/services/app/get_user_data.jhtml"/>
    <add key="Goals" value="https://secure-nikeplus.nike.com/nikeplus/v1/services/app/goal_list.jhtml"/>
    <add key="Challenges" value="https://secure-nikeplus.nike.com/nikeplus/v1/services/widget/get_challenges_for_user.jhtml"/>
    <add key="ChallengeDetails" value="https://secure-nikeplus.nike.com/nikeplus/v1/services/widget/get_challenge_detail.jhtml?id="/>
    <add key="Records" value="https://secure-nikeplus.nike.com/nikeplus/v1/services/app/personal_records.jhtml"/>
    <add key="CommunityStats" value="http://secure-nikeplus.nike.com/nikeplus/v1/services/app/get_plus_totals.jhtml"/>


    <!-- Mock data -->
    <add key="MockDataDir" value="C:\Documents and Settings\Eric\My Documents\Visual Studio 2008\Projects\Overpass.NikePlusAPI\MockData\"/>


  </appSettings>

</configuration>